body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 23%;
  height: 200px;
  background-color: black;
}

.electric {
  background-color: #f7d02c; /* Electric yellow */
}

.water {
  background-color: #00aeff; /* Water blue */
}

.fire {
  background-color: #ee8130; /* Fire orange */
}

.psychic {
  background-color: #f95587; /* Psychic pink */
}

.normal {
  background-color: #edede3; /* Normal grey */
}

.ghost {
  background-color: #170b2a; /* Ghost purple */
  color: white;
}

.dragon {
  background-color: #3702b2; /* Dragon purple-blue */
  color: white;
}